.column {
    width: 700px;
    height: 400px;
    margin-left: 20%;
    padding: 30px;
    border-spacing: 30px;
    margin-bottom: 30px;
}

.card {
    width: 600px;
    height: 400px;
    margin: auto;
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 .5em 1em -.125em hsla(0, 0%, 4%, .1), 0 0 0 1px hsla(0, 0%, 4%, .02);
    color: #4a4a4a;
    max-width: 100%;
    position: static;
    padding: 3%;
}

.card2 {
    width: 100px;
    height: 50px;
    margin-left: 30%;
    margin-top: 3%;
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 .5em 1em -.125em hsla(0, 0%, 4%, .1), 0 0 0 1px hsla(0, 0%, 4%, .02);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
    padding: 4%;
}

.obj-dia {
    width: 50%;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.obj-hora {
    width: 19%;
    margin-left: 5%;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.obj-enviar {
    width: 100%;
}

.obj-text {
    position: absolute;
    top: 55%;
    left: 60%;
}


@media (max-width: 300) {
    card {
        width: 100%;
    }
}
.form-label {
    position: relative;
    

    

  }