{% extends "../base.html" %}
{% load crispy_forms_tags%}
{% load static %}


{%block content%}

<script src='{% static "assets/js/bootstrap/bootstrap.bundle.min.js" %}'></script>
<div class="col-md-4 mx-auto">
    <h2>PERFIL DE USUARIO</h2>
    <h3 class="text-secondary">BIENVENIDO !!! {{user.username | upper }}</h3>
    <hr>
    <p><strong>Nombre de Usuario: </strong>{{user.username}}</p>
    <p><strong>Nombre: </strong>{{user.first_name}}</p>
    <p><strong>Apellido: </strong>{{user.last_name}}</p>
    <p><strong>Correo Electrónico: </strong>{{user.email}}</p>
    <hr>



{%endblock%}