:root {
    border-radius: 50%;
    --facebook: #3b5999;
    --instagram: #e4405f;
    --twitter: #55acee;
    --youtube: #ff0101;
}

.footer {
    background-color: rgb(31, 30, 30);
    padding: 1em 0;
    text-align: center;
    list-style: none;
    text-decoration: none;
}

.button {
    min-width: 700px;
    display: inline-flex;
    justify-content: center;
    
}

.button ul li {
    display: inline-flex;
    margin-right: 20px;


}

.button ul li a {
    display: block;
    text-decoration: none;
    font-size: 30px;
    width: 80px;
    height: 80px;
    padding: 10px;
    text-align: center;
    background: #314652;
    color: #ffffff;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease-in-out;

}

.button ul li:hover {
    transform: scale(1.2);
}


.button ul li .facebook:hover {

    border-radius: 50%;
    background: var(--facebook);
}

.button ul li .instagram:hover {
    background: var(--instagram);
}

.button ul li .twitter:hover {
    background: var(--twitter);
}

.button ul li .youtube:hover {
    background: var(--youtube);
}

.body {
    overflow-x: hidden;
    background-color: #314652;
    font-family: sans-serif;
    color: aliceblue;
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;

}